{% if page.pricing_table.enable %}
<div class="wrapper light-wrapper">
  <div class="container inner">
    <div class="space20"></div>
    {% assign pricing_data = page.pricing_table %}
    {% if pricing_data.enable %}
    <div class="row">
        <div class="col-lg-5 pr-50 pr-md-15">
            <h2 class="title-color color-gray">{{pricing_data.title}}</h2>
            <h3 class="display-3">{{pricing_data.sub_title}}</h3>
            <div class="space20"></div>
            <p>{{pricing_data.description}}</p>
            <div class="space10"></div>
            {% if pricing_data.pricing_url %}
            <a href="{{pricing_data.pricing_url}}" class="btn">See All Prices</a>
            {% endif %}
        </div>
        <!--/column -->
        <div class="space70 d-none d-md-block d-lg-none"></div>
        <div class="space20 d-md-none"></div>
        <div class="col-lg-7">
            <div class="pricing-wrapper">
                <div class="row no-gutters">
                    {% for pricing in pricing_data.plans %}
                    <div class="col-md-6">
                        <div class="pricing panel box bg-white shadow">
                            <div class="panel-heading">
                                <div class="prices color-dark">
                                    <div class="price price-show"><span class="price-currency">$</span><span class="price-value">{{pricing.monthly_price}}</span> <span class="price-duration">month</span></div>
                                </div>
                                <h4 class="panel-title mb-0">{{pricing.title}}</h4>
                            </div>
                            <div class="panel-body">
                                <table class="table">
                                    {% for features in pricing.features %}
                                    <tr>
                                        <td>{{features}}</td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                            <div class="panel-footer"><a href="{{pricing.pricing_url}}" class="btn" role="button">{{pricing.button_text}}</a></div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    <div class="space140"></div>
    {% if page.faq_area.enable %}
    <div class="row">
        {% if page.faq_area.image %}
        <div class="col-lg-6">
            <figure>
                <img src="{{page.faq_area.image}}" alt="{{page.faq_area.title}}" />
            </figure>
        </div>
        {% endif %}
        <div class="space50 d-none d-md-block d-lg-none"></div>
        <div class="space10 d-md-none"></div>
        <div class="col-lg-6 pl-60 pl-md-15">
            <h2 class="title-bg bg-default color-default">{{page.faq_area.title}}</h2>
            <div class="space10"></div>
            <h3 class="display-3">{{page.faq_area.sub_title}}</h3>
            <div class="space20"></div>
            <div id="accordion-2" class="accordion-wrapper simple">
                {% for tab in page.faq_area.tabs %}
                <div class="card">
                    <div class="card-header" id="accordion-heading-2-1">
                        <h5>
                            <button class="collapsed" data-toggle="collapse" data-target="#accordion-collapse-2-{{forloop.index}}" aria-expanded="false" aria-controls="accordion-collapse-2-1">
                                {{tab.question}}
                            </button>
                        </h5>
                    </div>
                    <div id="accordion-collapse-2-{{forloop.index}}" class="collapse" aria-labelledby="accordion-heading-2-{{forloop.index}}" data-target="#accordion-2" data-parent="#accordion-2">
                        <div class="card-body">
                            <p>
                                {{tab.answer}}
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <!-- /.accordion-wrapper -->
        </div>
    </div>
    {% endif %}

  </div>
  <!-- /.container -->
</div>
<!-- /.wrapper -->
{% endif %}